$primary: #707070;
$hprimary: #28c092;
$secondary: #c8f4cc;
$cwhite: #ffffff;
$cred: #e94646;
$cgreen: #34b849;
$cgreenhover: #67bf75;
$cblack: #313131;
$cblackhover: #585555;
$cblue: #1b7fd7;
$cbluehover: #70a9db;
// footer
$fprimarybg: #1d1d21;
$fprimarytxt: #707070;
$paragraph: #808182;
