// faq
.section-faq {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .container {
//   width: 100%;
//   margin: 0 auto;
// }

.accordion-item {
  background-color: #757780;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.3);
  .accordion-link {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: #757780;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #57595f;
    transition: max-height 650ms;
    &::before {
      content: "";
      position: absolute;
      width: 0.5rem;
      height: 90%;
      background-color: #28c092;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.accordion-item h5 {
  color: #f9f9f9;
  font-size: 1rem;
}
.answer p {
  color: aliceblue;
  padding: 2rem;
}

.accordion-item:hover .answer {
  max-height: 20rem;
}
