@import "./colors";

.footer {
  background-color: $fprimarybg !important;
  background-size: contain;
  color: $fprimarytxt !important;
  .map-image {
    width: 94%;
    height: 320px;
    border-radius: 16px;
  }
  .footer-info {
    border-right: 3px solid $fprimarytxt;
  }
  .body-list-social {
    li {
      display: inline;
      margin: 0;
      padding: 0;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .body-list-social li {
    display: inline;
    margin: 0;
    padding: 0;
    left: 0;
    font-size: 20px;
    cursor: pointer;
  }

  a {
    color: $fprimarytxt !important;
  }
}

@media only screen and (max-width: 767px) {
  .footer-info {
    border-right: none !important;
  }
}

@media only screen and (max-width: 1004px) {
  .footer-info {
    border-right: none !important;
  }
}
