@import "./colors";
// home
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-item {
  width: 100vw;
  height: 100vh;
  // min-height: 300px;
  .carousel-caption {
    bottom: 330px;
    // color: black;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
    transition: all 0.1s ease;
  }
}

.nav-container {
  ul {
    li.active-link {
      font-size: 20px;
      a {
        background-color: $primary;
        color: $cwhite;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .carousel-control-prev {
    display: none !important;
  }
  .carousel-control-next {
    display: none !important;
  }
  .carousel-item {
    width: 100vw;
    height: auto;
  }
  // .carousel-caption {
  //   bottom: 430px !important;
  //   // color: black;
  // }
}

@media only screen and (max-width: 1004px) {
  .carousel-item {
    width: 100vw;
    height: auto;
  }
}

.carousel-caption h1 {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: all 0.1s ease;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: overflow 7s ease;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    transition: visibility 7s ease;
  }
}

.featured-title {
  width: 90px;
  border-bottom: 3px solid $primary;
  margin: 0 auto;
}

.btnbuilt {
  background-color: $primary !important;
  border-radius: 16px;
  border: none;
  &:hover {
    background-color: $btnhover !important;
    color: $cwhite;
  }
}
