@import "./colors";
// listing
.details-banner {
  width: 100%;
  height: 200px;
  display: inline-block;
  background-image: url("../assets/blurry.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  h2 {
    line-height: 200px;
  }
}

.filter-section {
  a {
    background-color: $cgreen;
    &:hover {
      background-color: $cgreenhover;
      color: $cblack !important;
      transition: 1s;
    }
  }
}

.btnblue {
  background-color: $cblack !important;
  &:hover {
    color: $cwhite !important;
    background-color: $lhoverbgblack !important;
  }
}

.btndark {
  background-color: $cblack !important;
  &:hover {
    color: $cwhite !important;
    background-color: $lhoverbgblack !important;
  }
}
