@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbarunactive {
  height: 90px;
  letter-spacing: 1.5px;
  color: #ffffff !important;
}

.navbarBrandImg {
  max-width: 6rem;
}

.navbarunactive ul li a {
  font-size: 1rem !important;
  text-transform: capitalize !important;
  margin: 0 0 0 15px !important;
  color: #ffffff !important;
}

.carouselImg{
  width: 100%;
  max-height: 750px;
  background-color: black;
}

.sliderContent{
  color:white;
  opacity: 1.0;
  position: absolute;
  top: 30%;
  /* text-align: center; */
}

/* stroke */
nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.navbarunactive ul li a:hover {
  color: #28c092 !important;
}

.navbarunactive .navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.activenav {
  background-color: #2E4053;
  -webkit-transition: 1s;
  transition: 1s;
  height: 90px;
  letter-spacing: 1.5px;
}

.activenav ul li a {
  font-size: 1rem !important;
  text-transform: capitalize !important;
  margin: 0 0 0 15px !important;
  color: #ffffff !important;
}

.activenav ul li a:hover {
  color: #28c092 !important;
}

.activenav .navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.activenav .navbar-brand {
  color: #707070 !important;
}


@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.carousel-item {
  width: 100vw;
  max-height: 100vh;
}

.carousel-item .carousel-caption {
  /* bottom: 330px; */
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
          animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav-container ul li.active-link {
  font-size: 20px;
}

.nav-container ul li.active-link a {
  background-color: #707070;
  color: #ffffff;
}

.carousel-caption h1 {
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 2.5s forwards;
  /* Safari and Chrome */
  /* Opera */
  animation: cssAnimation 0s ease-in 2.5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: overflow 7s ease;
    transition: overflow 7s ease;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    -webkit-transition: visibility 7s ease;
    transition: visibility 7s ease;
  }
}

.featured-title {
  width: 90px;
  border-bottom: 3px solid #707070;
  margin: 0 auto;
}

.btnbuilt {
  background-color: #2E4053 !important;
  border-radius: 10px;
  border: none;
}

.btnbuilt:hover {
  background-color: #969595 !important;
  color: #ffffff;
}

.buildHouse img {
  width: 200px !important;
  height: 100 !important;
}

.card {
  border: none;
  border-radius: 14px;
}

.card .card-body img {
  border-radius: 14px;
  width: 100%;
}

.card .card-body img:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: 1s;
  transition: 1s;
}

.card .card-body .icon {
  padding: 0 2px 0 0;
}

.card .card-body .viewdetails {
  background-color: #2E4053 !important;
  /* background-color: #707070 !important; */
  color: #ffffff;
  border-radius: 16px !important;
}

.card .card-body .viewdetails:hover {
  background-color: #969595 !important;
  color: #ffffff;
}

.card .card-body .tag {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #ffffff;
  font-size: 12px;
  background: #34b849;
  padding: 5px 7px;
  display: inline-block;
  border-radius: 6px;
  z-index: 3;
}

.footer {
  background-color: #1d1d21 !important;
  background-size: contain;
  color: #fafafa !important;
}

.footer .map-image {
  width: 80%;
  border-radius: 16px;
}

.footer .footer-info {
  border-right: 3px solid #fafafa;
}

.footer .body-list-social li {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
}

.footer .body-list-social li {
  display: inline;
  margin: 0;
  padding: 0;
  left: 0;
  font-size: 20px;
  cursor: pointer;
}

.footer a {
  color: #fafafa !important;
}

.filter-section a {
  background-color: #34b849;
}

.filter-section a:hover {
  background-color: #67bf75;
  color: #313131 !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.btnblue {
  background-color: #313131 !important;
}

.btnblue:hover {
  color: #ffffff !important;
  background-color: #5b5b5b !important;
}

.btndark {
  background-color: #313131 !important;
}

.btndark:hover {
  color: #ffffff !important;
  background-color: #5b5b5b !important;
}

.details-banner {
  width: 100%;
  height: 100px;
  display: inline-block;
  background-color: #2E4053;
  color: #fafafa;
}

.details-banner h2 {
  line-height: 200px;
}

.details-container .track ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  height: 210px;
  width: 100%;
}

.details-container .track ul li {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 400px;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}

.details-container .track ul li img {
  width: 100%;
  max-height: 460px;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}


.details-container .track ul li:first-child {
  opacity: 1;
}

.details-container .track ul li:target {
  opacity: 1;
}

.slides {
  display: grid;
  -ms-grid-columns: 1fr 3;
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.slides a {
  border: 2px solid #fff;
}

.slides a img {
  width: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slides a img:hover {
  opacity: 0.5;
}

.contact-info .contact-info-container {
  border-bottom: 2px solid #707070;
}

.features .feature-container .features-list li {
  display: inline-block;
}

.propertyInformation .propertyInformation-container p {
  color: #808182 !important;
}

.mapInformation .mapInformation-container img {
  max-height: 400px;
  border-radius: 16px;
}

.section-faq {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion-item {
  background-color: #757780;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.3);
}

.accordion-item .accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #757780;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.accordion-item .answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #57595f;
  -webkit-transition: max-height 650ms;
  transition: max-height 650ms;
}

.accordion-item .answer::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 90%;
  background-color: #28c092;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion-item h5 {
  color: #f9f9f9;
  font-size: 1rem;
}

.answer p {
  color: aliceblue;
  padding: 2rem;
}

.accordion-item:hover .answer {
  max-height: 20rem;
}

.container-finance {
  position: relative;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px auto;
}

.container-finance .card {
  position: relative;
  background-color: aliceblue;
  width: 284px;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
}

.container-finance .card img {
  width: 100%;
  max-height: 150px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: cover;
}

.container-finance .card .content {
  position: absolute;
  bottom: -140px;
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container-finance .card:hover .content {
  bottom: 0px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container-finance .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.container-finance .card:hover .content .contentBx h3 {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container-finance .card .content .contentBx span {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-transform: initial;
  text-align: center;
}

input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 2px solid #969595 !important;
}

textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 2px solid #969595 !important;
}

select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 2px solid #969595 !important;
}

/* Start of About Us */
.about-section {
  margin-top: 55px;
  background: url("../assets/slider1.jpg") no-repeat left;
  background-size: 58%;
  background-color: #fafafa;
  overflow: hidden;
  padding: 75px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fafafa;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.inner-container .about-text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

/* End of About US */
.heading-text {
  font-family: "Roboto", sans-serif !important;
}
/*# sourceMappingURL=style.css.map */

.facility{
  font-weight: bold;
  color: #2E4053;
}




/* responsive using media query */

@media only screen and (min-width: 400px) {
  .slides {
    grid-gap: 1px;
  }
  .details-container .track ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    height: 240px;
    width: 100%;
  }
}

@media only screen and (min-width: 500px) {
  .details-container .track ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    height: 320px;
    width: 100%;
  }
  .slides {
    display: grid;
    -ms-grid-columns: 1fr 4;
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .slides {
    grid-gap: 2px;
  }
  .details-container .track ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    height: 440px;
    width: 100%;
  }
  .slides {
    display: grid;
    -ms-grid-columns: 1fr 6;
        grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .slides {
    grid-gap: 5px;
  }
  .details-container .track ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    height: 460px;
    width: 100%;
  }
  .sliderContent{
    color:white;
    opacity: 1.0;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
  .slides {
    grid-gap: 2px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
  }
  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
  .navbar-nav li .nav-link {
    text-align: right !important;
    padding-right: 10px;
  }
  .carousel-control-prev {
    display: none !important;
  }
  .carousel-control-next {
    display: none !important;
  }
  .carousel-item {
    width: 100vw;
    height: auto;
  }
  .footer-info {
    border-right: none !important;
  }
  .slides {
    grid-gap: 2px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media only screen and (max-width: 1004px) {
  .navbar-nav {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
  }
  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
  .navbar-nav li .nav-link {
    text-align: right !important;
    padding-right: 10px;
  }
  .carousel-item {
    width: 100vw;
    height: auto;
  }
  .footer-info {
    border-right: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}
